form {
    text-align: center;
}

img {
    width: 500px;
	display: block;
    margin: 0 auto;
    margin-top: 200px;
}

#links{
    text-align: right;
    margin-top: 2px;
	margin-right: 5px;
	margin-left: 5px;    
}

input {
	font-size: 15px;
	font-family: Cambria;
	padding: 10px;
	margin: 20px;
}

#mysearchbar {
    margin: auto;
	width: 700px;
	border-radius: 25px;
	border-width: 1px;
    font-size: 20px;
    
}

.picture {
    margin: auto;
    width: 50vh;
    height: 30vh;
}

.form-control {
    margin-left: 25%;
    width: 100vh;
    height: 8vh;
    background-color: rgb(140, 134, 126);
}